{% macro printPart(part) %}

    {% if part.has %}
        <img src="{{ part.path }}">
    {% endif %}

{% endmacro %}

{% macro printZombie(zombie) %}

    <div class="zombie flex-col p-4">
        <div class="head">
            {{ printPart(zombie.head) }}
        </div>
        <div class="body">
            {{ printPart(zombie.leftArm) }}
            {{ printPart(zombie.body) }}
            {{ printPart(zombie.rightArm) }}
        </div>
        <div class="lower">
            {{ printPart(zombie.leftLeg) }}
            {{ printPart(zombie.rightLeg) }}
        </div>
    </div>

{% endmacro %}
