{% import 'macro.jinja' as oo %}

{% extends "socle/base.jinja" %}

{% block content %}
    <div class="flex flex-wrap">
        {% for zombie in zombies %}
            {{ oo.printZombie(zombie) }}
        {% endfor %}
    </div>
{% endblock content %}
